:root {
	--primary-color: #2a2a2a;
	--secondary-color: #0c0c0c;
	--tertiary-color: #080808;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--tertiary-color);
	width: 100vw;
	height: 100vh;
}

* {
	touch-action: none;
	border-radius: 0;
	-ms-touch-action: none;
}

.space,
.win-square {
	outline: 0.1rem solid var(--primary-color);
	outline-offset: -0.1rem;
	background-color: var(--secondary-color);
	border: none;
	padding: 0;
	margin: 0;
	transition: background-color 0.5s;
	z-index: 1;
	border-radius: 0;
}

.space:hover {
	background-color: var(--primary-color);
}

.chunk-container {
	display: block;
	top: 50%;
	left: 50%;
}

.space svg,
.win-square svg {
	display: block;
	padding: 10%;
}

.win-square {
	background-color: white;
	outline: none;
	z-index: 3 !important;
}

.chunk {
	display: block;
}

.chunk::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	z-index: -1;
	box-shadow: var(--primary-color) 0.4rem 0.4rem, var(--primary-color) -0.4rem 0.4rem, var(--primary-color) 0.4rem -0.4rem, var(--primary-color) -0.4rem -0.4rem;
}

.tablinks-active {
	border: none;
	background-color: #1f1f1f;
	color: white;
}

.tablinks-inactive {
	border: none;
	background-color: #c0c0c0;
	color: black;
}
