:root {
	--primary-color: #2a2a2a;
	--secondary-color: #0c0c0c;
	--tertiary-color: #080808;
}

@keyframes spaceFocusAnim {
	0% {
		outline-color: white;
	}

	50% {
		outline-color: var(--primary-color);
	}

	100% {
		outline-color: white;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--tertiary-color);
	width: 100vw;
	height: 100vh;
}

* {
	border-radius: 0;
}

#board {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.space,
.last-space,
.win-square {
	outline: 1px solid var(--primary-color);
	outline-offset: -1px;
	background-color: var(--secondary-color);
	border: none;
	padding: 0;
	margin: 0;
	transition: background-color 0.1s;
	z-index: 1;
	border-radius: 0;
}

.space:hover,
.last-space:hover {
	background-color: var(--primary-color);
}

.chunk-container {
	display: block;
	top: 50%;
	left: 50%;
}

.space svg,
.last-space svg,
.win-square svg {
	display: block;
	padding: 10%;
}

.win-square {
	background-color: white;
	outline: none;
	z-index: 3 !important;
}

.chunk {
	display: block;
}

.chunk::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	z-index: -1;
	box-shadow: var(--primary-color) 5px 5px, var(--primary-color) -5px 5px, var(--primary-color) 5px -5px, var(--primary-color) -5px -5px;
}

.last-space {
	animation: spaceFocusAnim 3s infinite;
}

.player-icon {
	display: block;
	padding: 5px;
}
