@keyframes spaceFocusAnim {
	0% {
		border: 3px red solid;
	}

	50% {
		border: 3px blue solid;
	}

	100% {
		border: 3px red solid;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #008080;
	width: 100vw;
	height: 100vh;
}

* {
	border-radius: 0;
}

#board {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.space::before,
.last-space::before,
.win-square::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset -2px -2px #0a0a0a, inset 2px 2px #ffffff, inset -4px -4px #808080, inset 4px 4px #dfdfdf;
}

.space,
.last-space,
.win-square {
	outline-offset: -1.5px;
	background-color: #c0c0c0;
	border: none;
	padding: 0;
	margin: 0;
	transition: background-color 0.1s;
	z-index: 1;
	border-radius: 0;
}

.space:hover::before,
.last-space:hover::before {
	box-shadow: inset -2px -2px #ffffff, inset 2px 2px #0a0a0a, inset -4px -2px #dfdfdf, inset 4px 4px #808080;
}

.chunk-container {
	display: block;
	top: 50%;
	left: 50%;
}

.space svg,
.last-space svg,
.win-square svg {
	display: block;
	padding: 20%;
}

.win-square {
	background-color: white;
	outline: none;
	z-index: 3 !important;
}

.chunk {
	display: block;
}

.chunk::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	z-index: -1;
	box-shadow: 4px 4px #0a0a0a;
}

.last-space::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: spaceFocusAnim 3s infinite;
}